# Core Requirements
torch
torchvision
numpy
pandas
scikit-learn
matplotlib
seaborn
Pillow
tqdm

# Hyperspectral Processing
spectral
h5py
scipy
opencv-python
results

# Utilities
python-dotenv
pyyaml
joblib